<%- include('partials/partials.ejs') %>

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <img src="img/meeting.jpg" alt="">
        </div>  
    </header>
    <!-- End Of Page Header -->

    <!-- About Section -->
    <section class="section" id="about">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                    <h6 class="section-title mb-0">About Company</h6>
                    <h6 class="section-subtitle mb-4"></h6>
                    <p >Welcome to Bhilai Club!
                        We are committed to providing our members with the ultimate luxury experience.
                         From the moment you walk through our doors, you will be treated like royalty. 
                         Our attentive staff will cater to your every need, 
                         ensuring that your time with us is truly unforgettable.
                         <br>
                         <br>
                         Our club features a wide variety of amenities, 
                         including a state-of-the-art fitness center, an exclusive spa, 
                         and a fine dining restaurant. Our entertainment options are second to none, 
                         with live music, exclusive programs, and more. We also offer a variety of events 
                         and activities for our members, from wines to zoomba classes.
                         <br>
                         <br>
                         We pride ourselves on offering the highest level of service and attention to detail.
                          We invite you to come and see for yourself what makes our club the premier 
                          destination for those seeking a truly exceptional experience.
                        </p>
                    <img src="assets/imgs/about.jpg" alt="" class="w-100 mt-3 shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/imgs/about-1.jpg" alt="" class="w-100 shadow-sm">
                        </div>
                        <div class="col-6">
                            <img src="assets/imgs/about-2.jpg" alt="" class="w-100 shadow-sm">
                        </div>
                        <div class="col-12 mt-4">
                            <p>
                                In addition to all of the amenities mentioned above, 
                                bhilai club also features a beautiful outdoor swimming pool,
                                 perfect for a refreshing dip on a hot summer day. We also have a 
                                 well-maintained badminton court for our athletic members, as well as a snooker table 
                                 for those looking to hone their skills.
                                For those looking to host a special event, we have a number of elegant party halls available. 
                                These spacious and beautifully decorated venues are perfect for weddings, birthdays, 
                                corporate events, and more.
                                And if you just want to relax and enjoy the beauty of nature, 
                                our club is home to a number of stunning gardens. 
                                These peaceful outdoor spaces are perfect for a leisurely stroll or a 
                                quiet moment of reflection.
                                <br>
                                <br>
                                Bhilai Club in Durg is one of the leading businesses in the Health Clubs,
                                 Established in the year 1962, Bhilai Club in Indira Palace, 
                                 Durg is a top player in the category Health Clubs, Catering, 
                                 Sports, Party Halls, Party Lawns with Bar Facilities in the Durg.
                                 <br>
                                 <br>
                                We hope to see you at our club soon!</p>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </section>
    <!-- End OF About Section -->