<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>Bhilai Club</title>
    <!-- title icon -->
    <link rel="icon" href="img/logo.svg" type="image/icon type">
    <!-- font icons -->
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="css/style.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <%- body %>
	<!-- core  -->
    <script src="vendors/jquery/jquery-3.4.1.js"></script>
    <script src="vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope -->
    <script src="vendors/isotope/isotope.pkgd.js"></script>    
    <script src="js/main.js"></script>    
</body>
</html>